services:
  - type: web
    name: auth-service
    runtime: docker
    rootDir: auth
    plan: free
    envVars:
      - key: JAVA_VERSION
        value: "17"
      - key: DATABASE_URL
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
